body {
    font-family: Arial, sans-serif;
    /* background-image: linear-gradient(rgb(18, 81, 76) ,rgb(0, 255, 242)); */
    /* background-color: #f10b63; */
    /* background-image:url('media/bl.webp') */
  }

  header {
    background-image: linear-gradient(rgb(18, 81, 76)  , rgb(0, 255, 242));
    background-color: #0eece9;
    color: #fff;
    margin-top: 25px;
    text-align: center;
    height: 50px;
    padding: 20px;
    
    }
  p {
    line-height: 1.5;
    text-align: justify;
  }
  
  h1, h2, h3 {
    color: #000000;
    font-size: 20px;
    text-align: center;
  }
  h2{
    margin-bottom: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  h4{
    margin-bottom: 20px;
    text-align: center;
    font-size: 18px;
    color: #7e7a7a;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .scrolling-text-container {
    position: relative;
    margin-top: 20px;
    overflow: hidden;
    height: 35px; /* Adjust the height as needed */
    background-color: aliceblue;
    border-bottom: 2px solid #0eece9;
    border-top: 2px solid #0eece9;
    color: #7e7a7a;
    text-align: center;
  }
  
  .scrolling-text {
    animation: scroll-left 30s linear infinite;
    white-space: nowrap;
  }
  
  @keyframes scroll-left {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  #content {
    font-size: 20px;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  @media (max-width: 1000px){
    body{
      top: 30%;
    }
    p {
      margin: 15px;
      margin-top: 20px;
      line-height: 1.5;
      text-align: left;
      font-size: 15px;
    }
    
  }