header {
    /* background-color: #192626; */
    /* background-image: linear-gradient(to left, rgb(255, 255, 255) 50% ,#0d7a88 50%); */
    background-color: rgb(48, 88, 88);
    color: #ffffff;
    margin-top: 25px;
    text-align: center;
    padding: 20px;
    height: 80px;
   
  }
  
  .faqs-container {
      font-family: Georgia, 'Times New Roman', Times, serif;
      max-width: 700px;
      margin: 0 auto;
    }
    
    .faqs-container .questions-container {
      box-shadow: 0 4px 8px -3px rgba(247, 244, 244, 0.938);
    }
    
    .faqs-container h2 {
      padding: 4px 32px;
      font-size: 28px;
    }
    
    .faqs-container .faq-header {
      display: flex;
      /* background: #03d6fb; */
      background-image: linear-gradient(to left, rgb(168, 233, 246) 50% ,rgb(168, 233, 246) 50%);
      color: #050505;
      align-items: center;
      position: relative;
      cursor: pointer;
      /* border-radius: 10px; */
      /* border-radius: 10px 15px 15px 10px; */
  
    }

    body{
      background-color: rgb(246, 243, 243);
  
    }
    .faqs-container .faq-header .open,
    .faqs-container .faq-header .close {
      position: absolute;
      right: 0;
      padding: 0 32px;
      font-size: 22px;
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-weight: bold;
      transform: translateY(-8px);
      opacity: 0;
      transition: all 500ms;
    }
    
    .faqs-container .faq-header .open.active,
    .faqs-container .faq-header .close.active {
      opacity: 1;
      transform: translateY(0);
    }
    
    .faqs-container .faq-header h3 {
      font-size: 20px;
      padding: 0 32px;
    }
    
    .faqs-container .content {
      padding: 0 32px;
      background: #fdfffc;
      line-height: 2;
      max-height: 0;
      overflow: hidden;
      transition: all 500ms;
      text-align: justify;
    }
    
    .faqs-container .content.active {
      max-height: 600px;
    }
    