body {
  /* background: linear-gradient(90deg,#0d7a88,#fafffe,#ffffff); */
  margin: 0; 
  padding: 0;

  background-image: url("media/pexels-johannes-plenio-1103970.jpg"); 
  background-color: #eedc82; 
  height: 160px; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
}

header {
  position: relative;
  text-align: center;

}

.text-overlay1 {
  position: absolute;
  margin-top: 0px;
  text-align: right;
  top: 30%;
  left: 33%;
  transform: translate(-50%, -50%);
  background-color: rgba(170, 218, 232, 0.5);
  color: #100000;
  padding: 20px;
  font-family: cursive;
  font-size: 40px;
  font-weight: bold;
}

.text-overlay1 p {
  margin: 0;
}
.text-overlay2 {
  position: absolute;
  margin-top: 0px;
  text-align: left;
  top: 20%;
  right: 10%;
  transform: translate(-50%, -50%);
  background-color: rgba(247, 213, 213, 0.5);
  color: #010000;
  padding: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 40px;
  font-weight: bold;
}

.text-overlay2 p {
  margin: 0;
}
h1{
  text-align: center;
  background-image: url(media/whi.jpg);
  
}
.a{

  display: flex;
    justify-content: center; /* Align items horizontally */
    align-items: center;
    background-image: url(media/white.webp);
    
}
.a0{
  font-family: 'Times New Roman', Times, serif;
  padding-left: 20px;
}
.a2{
  display: inline-block;
}


.a3 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.a3 button{
  padding: 15px 25px;
  background-color:  black;
  color: white;
  text-decoration: none;
  border-style: double;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px; 
  transition: background-position 0.3s linear;
  background-position: 0% 0%;
  background-size: 200% auto;
  background-image: linear-gradient(to right, rgb(0, 0, 0) 50% ,#0d7a88  50%);
}
.a3 button:hover{
  background-position: 100% 0%;
  border-color: #0d7a88; 
}

@keyframes textChange {
  0% {
    color: black;
    
  }
  25%{
    color:  #297985;
  }
  50% {
    color: rgb(44, 169, 159);
  }
  75% {
    color:   #297985;
  }
  100% {
    color: black;
  }
} 
  #animated-heading{
  animation: textChange 2s ease-in-out infinite;
} 
.a0 h1{
  padding-left: 20px;
  color: rgb(0, 0, 0);
}
.a0 h3{
  color: rgb(0, 0, 0);
}
.a0 h4{
  padding-left: 20px;
  padding-right: 90px;
  color: rgb(0, 0, 0);
}
.a1 img{
    height: 350px;
    position: relative;
    overflow: hidden;
  }

  .a1 img {
    display: block;
    animation: float 3s linear infinite;
  }
  /* Animation keyframes */
  @keyframes float {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateY(+20px);
    }
    50% {
      transform: translateX(-20px);
    }
    75% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateX(0);
    }
  }
.a3{
  justify-content: center;
}

.adv{
  background-color: #0d7a88;
  width: 100%;
  display: flex;
  align-items: center;
}

.advgif{
  flex: 1;
  padding: 0px 0px;
}

.advtext{
display: flex;
align-items: center;
}
 

.adv122{
  /* padding: 20px; */
  width: 70%;
  text-align: center;
  display: inline-block;
  color: white;
}

.adv111{
  display: flex;
  flex-direction: column;
  align-items: center; /* horizontally center content */
  justify-content: center; /* vertically center content */;
}
.courses{
  display: inline-block;
  text-align: center;
  background-image: url(media/bl.webp);
}
.courses .course:hover{
  /* background: #f0c4d2;
  color: #000;
  transform: translateY(-10px); */
  background: linear-gradient(rgba(0,0,0,0.6), #ff004f);
    border-radius: 10px;
    overflow: hidden;
}
